<h2>My Basic CRUD Operations</h2>

<div style="border: 1px solid #ccc; padding: 10px; width: 300px">
  <label>Name:</label><br />
  <input type="text" name="usname" [(ngModel)]="user.name" /><br />

  <h4>hello {{ user.name }}</h4>

  <label>Email:</label><br />
  <input type="text" name="usemail" [(ngModel)]="user.email" /><br />

  <button type="button" (click)="saveUser()">
    {{ isEditMode ? "Update" : "Add" }} User
  </button>

  <button type="button" (click)="resetForm()" *ngIf="isEditMode">
    Cancel
  </button>
</div>

<hr />

<p>{{ users | json }}</p>

<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    @for (u of users; track u.id) {
      <tr>
        <td>{{ u.name }}</td>
        <td>{{ u.email }}</td>
        <td>
          <button type="button" (click)="editUser(u)">Edit</button>
          <button type="button" (click)="deleteUser(u.id)">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>
